.input {
  padding: 0.6rem 1rem;
  border: 1px solid #e8e8e8;
  font-size: 1rem;
  background: white;
  width: 13rem;
}

.submit-btn {
  font-size: 1.2rem;
  padding: 0.4rem 2rem;
  border: none;
  background: #0290ff;
  color: white;
  border-radius: 3px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .form {
    flex-direction: column;
    gap: 1rem;
  }
}
