.content {
  width: 80vw;
}

.logo {
  color: rgb(0, 136, 255);
}

.profile-container {
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: 50%;
}

.profile {
  font-size: 1.5rem;
  color: rgb(0, 136, 255);
}

.navbar {
  background: white;
  box-shadow: 0 1px 3px rgb(179, 179, 179);
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navlink {
  display: flex;
  align-items: center;
}

.navlists {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navlist {
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
}
